
:root {
  --primary-color: black; 
  --secondary-color: white;
}

*{
  font-weight: bold;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

#nav li{
  display: inline;
  padding-right: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav.shift ul li a {
  position:relative;
  z-index: 1;
}

nav.shift ul li a:hover {
  color: var(--primary-color);
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: var(--secondary-color);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

H1 {
  text-align: center;
 }
 H1 p {
  text-align: center;
 }
.flex-row{
  display: inline;
  position: relative;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 30px;
}

#underline{
  text-decoration: underline yellow;
  padding-top: 30px;
  font-size: 20px;
}

#aboutMeDiv {
  background-image: url(./assets/Background/light-bulb-glowing-wallpaper.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 20px;
}

#aboutMeDiv h2{
  font-size: 30px;
  text-decoration: var(--secondary-color);
  text-decoration: underline overline yellow;
}

#proficiencies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#proficiencies div{
  margin-left: 7.5%;
  margin-right: 7.5%;
}

#resumeLink{
 text-align: center;
}
#resumeLink a {
   color: yellow;
}
#wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  max-width: 840px;
}
#rightContact{
  justify-content: center;
  max-width: 400px;
  font-weight: 400;
  }
  
#leftContact{
  max-width: 400px;
  font-weight: 400;
}

#earlyWork{
  background-image: url(./assets/Background/light-bulb-glowing-wallpaper.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 20px;
}

#earlyWork h2{
  font-size: 30px;
  text-decoration: var(--secondary-color);
  text-decoration: underline yellow;
}


#earlyWork img:hover {
  filter: blur(4px);
  }
  
  #earlyWork img{
      width: 200px;
      height: 175px;
  }
div a img{
  display: inline;
  padding: 8px;
}

form div label {
padding-bottom: 50px;
}

#projectDiscript{ 
background-color: rgba(0, 0, 0, .3);
padding: 40px;
}

#project{
  background-image: url(./assets/Background/light-bulb-glowing-wallpaper.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* padding: 20px; */
  margin: 20px;
}

#project h2{
  font-size: 30px;
  text-decoration: var(--secondary-color);
  text-decoration: underline yellow;
}

#project img:hover {
  filter: blur(4px);
  }
  
  #project img{
      width: 200px;
      height: 175px;
  }
  
#contactBackground {
  background-image: url(./assets/Background/light-bulb-glowing-wallpaper.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 20px;
}

#contactBackground h1{
      font-size: 30px;
      text-decoration: var(--secondary-color);
      text-decoration: underline yellow;
      padding-top: 30px;
}

#contactTint{
  background-color: rgba(0, 0, 0, .3);
  padding-bottom: 10px;
}

#contact-form {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 50%; */
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
}

#button {
  background-color: var(--primary-color);
  color: yellow;
}